* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0b0b0b;
  color: #ffffff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  border-bottom: 1px solid #222;
}

.logo {
  font-size: 28px;
  color: #00e0e0;
}
.logo span {
  color: white;
}

nav button {
  background: none;
  border: none;
  color: #aaa;
  margin-left: 20px;
  font-size: 16px;
  cursor: pointer;
}

nav button:hover {
  color: #00e0e0;
}

/* SECTIONS */
.section {
  display: none;
  padding: 60px 50px;
}

.section.active {
  display: block;
}

/* ABOUT */
.about-box {
  display: flex;
  gap: 40px;
  align-items: center;
}

.about-box img {
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 0 20px #00e0e0;
}

.about-box h1 {
  font-size: 36px;
  color: #00e0e0;
}

.about-box h3 {
  margin: 10px 0;
}

/* TITLES */
.title {
  font-size: 32px;
  margin-bottom: 30px;
  text-align: center;
  color: #00e0e0;
}

/* GRID / CARDS */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #141414;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  border: 1px solid #222;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #00e0e0;
}

/* CONTACT */
.contact-box {
  text-align: center;
  font-size: 18px;
}

.contact-box a {
  color: #00e0e0;
  text-decoration: none;
}
